.form {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.label {
  font-size: 22px;
}

.input {
  width: 100%;
  padding: 5px;
  margin: 10px;
}

.button {
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
  padding: 12px;
  background-color: rgb(206, 255, 92);
  font-size: 16px;
}
